<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>LOGO</h1>
      <h4>About</h4>
      <h4>商品一覧</h4>
      <h4>新規登録</h4>
      <h4>ログイン</h4>
    </header>
    <%= yield %>
  </body>
</html>
